<section class="user_role">
  <div class="container-fluid mt-5 p-t-70">
    <div class="text-role">
      <div class="row">
        <div class="col-md-4">
          <div class="user-hed p-b-43 p-t-50">
            <h2>USER ROLE ASSIGNMENT</h2>
          </div>
          <img src="images/user-role.jpg" class="img-fluid" />
        </div>
        <div class="col-md-8">
          <div class="sect-user p-b-43 p-t-50"><h3>Select User</h3></div>
          <div class="container d-flex">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a
                  id="tab-A"
                  href="#pane-A"
                  class="nav-link active"
                  data-toggle="tab"
                  role="tab"
                >
                  Add User</a
                >
              </li>
            </ul>
            <div id="content" class="tab-content" role="tablist">
              <div
                id="pane-A"
                class="card tab-pane fade show active"
                role="tabpanel"
                aria-labelledby="tab-A"
              >
                <div
                  id="collapse-A"
                  class="collapse show"
                  role="tabpanel"
                  aria-labelledby="heading-A"
                >
                  <div class="card-body">
                    <form>
                      <div class="wrap-input100 validate-input">
                        <select
                          id="selt_user"
                          placeholder-text="Item 1"
                          class="input100"
                        >
                          <option value="1" class="select-dropdown__list-item">
                            Select User Name
                          </option>
                          <option class="select-dropdown__list-item" value="25">
                            yrh@somaiya.edu
                          </option>
                        </select>
                      </div>
                      <div class="wrap-input100 validate-input">
                        <select
                          id="selt_user_role"
                          placeholder-text="Item 1"
                          class="input100"
                        >
                          <option value="1" class="select-dropdown__list-item">
                            role
                          </option>
                          <option value="Owner">Owner</option>
                          <option value="user">User</option>
                          <option value="Moderator">Moderator</option>
                        </select>
                      </div>
                      <div class="wrap-input100 validate-input">
                        <input
                          class="input100"
                          type="text"
                          name="email"
                          value=""
                        /><span class="focus-input100"></span
                        ><span class="label-input100">Role Description</span>
                      </div>
                      <div class="row">
                        <div class="container-login100-form-btn col-6">
                          <button class="login100-form-btn">Submit</button>
                        </div>
                        <div
                          class="container-login100-form-btn deletbtnrole col-6"
                          style="display: none"
                        >
                          <button class="login100-form-btn">Delete</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div
                id="pane-B"
                class="card tab-pane fade"
                role="tabpanel"
                aria-labelledby="tab-B"
              >
                <div
                  id="collapse-B"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="heading-B"
                >
                  <div class="card-body">
                    <form>
                      <div class="wrap-input100 validate-input">
                        <select
                          id="selt_user"
                          placeholder-text="Item 1"
                          class="input100"
                        >
                          <option value="1" class="select-dropdown__list-item">
                            Select User Name
                          </option>
                          <option value="2" class="select-dropdown__list-item">
                            Item 2
                          </option>
                          <option value="3" class="select-dropdown__list-item">
                            Item 3
                          </option>
                          <option value="4" class="select-dropdown__list-item">
                            Item 4
                          </option>
                        </select>
                      </div>
                      <div class="wrap-input100 validate-input">
                        <select
                          id="selt_user_role"
                          placeholder-text="Item 1"
                          class="input100"
                        >
                          <option value="1" class="select-dropdown__list-item">
                            role
                          </option>
                          <option value="2" class="select-dropdown__list-item">
                            Item 2
                          </option>
                          <option value="3" class="select-dropdown__list-item">
                            Item 3
                          </option>
                          <option value="4" class="select-dropdown__list-item">
                            Item 4
                          </option>
                        </select>
                      </div>
                      <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="email" /><span
                          class="focus-input100"
                        ></span
                        ><span class="label-input100">Role Description</span>
                      </div>
                      <div class="container-login100-form-btn">
                        <button class="login100-form-btn">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div
                id="pane-C"
                class="card tab-pane fade"
                role="tabpanel"
                aria-labelledby="tab-C"
              >
                <div
                  id="collapse-C"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="heading-C"
                >
                  <div class="card-body">
                    <form>
                      <div class="wrap-input100 validate-input">
                        <select
                          id="selt_user"
                          placeholder-text="Item 1"
                          class="input100"
                        >
                          <option value="1" class="select-dropdown__list-item">
                            Select User Name
                          </option>
                          <option value="2" class="select-dropdown__list-item">
                            Item 2
                          </option>
                          <option value="3" class="select-dropdown__list-item">
                            Item 3
                          </option>
                          <option value="4" class="select-dropdown__list-item">
                            Item 4
                          </option>
                        </select>
                      </div>
                      <div class="wrap-input100 validate-input">
                        <select
                          id="selt_user_role"
                          placeholder-text="Item 1"
                          class="input100"
                        >
                          <option value="1" class="select-dropdown__list-item">
                            role
                          </option>
                          <option value="2" class="select-dropdown__list-item">
                            Item 2
                          </option>
                          <option value="3" class="select-dropdown__list-item">
                            Item 3
                          </option>
                          <option value="4" class="select-dropdown__list-item">
                            Item 4
                          </option>
                        </select>
                      </div>
                      <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="email" /><span
                          class="focus-input100"
                        ></span
                        ><span class="label-input100">Role Description</span>
                      </div>
                      <div class="container-login100-form-btn">
                        <button class="login100-form-btn">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
