<section class="view-tracker-page">
  <div class="container trackercontainer">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="title-heading">View Tracker</h1>
      </div>
      <div class="col-md-12">
        <div class="tracker-table-responsive">
          <table class="col-md-12 table-bordered tracker-table">
            <thead class="cf">
              <tr class="first-tracker-col">
                <th>Sr No.</th>
                <th>Assesse Name (optinoal)</th>
                <th>Compliance Name</th>
                <th>Frequency</th>
                <th>Period</th>
                <th>Due Date</th>
                <th>Filed Date</th>
                <th>Filling Reference Number</th>
                <th>Approved By Moderator</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Test 1</td>
                <td>Test 2</td>
                <td>Test 3</td>
                <td>Test 4</td>
                <td>Test 5</td>
                <td>Test 6</td>
                <td>Test 7</td>
                <td>Test 8</td>
                <td>Test 9</td>
                <td>Test 10</td>
              </tr>

            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>